<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.lagradost.cloudstream3">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- I dont remember, probs has to do with downloads -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- unless you only use cs3 as a player for downloaded stuff, you need this -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Downloads -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Downloads on low api devices-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- some dependency needs this -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- Used for player vertical slide-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!--Used for app update-->
    <!--<uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA" /> not used atm, but code exist that requires it that are not run-->
<!--    <permission android:name="android.permission.QUERY_ALL_PACKAGES" /> &lt;!&ndash; Used for getting if vlc is installed &ndash;&gt;-->

    <!-- Fixes android tv fuckery -->
    <uses-feature
            android:name="android.hardware.touchscreen"
            android:required="false" />
    <uses-feature
            android:name="android.software.leanback"
            android:required="false" />

    <!--TODO https://stackoverflow.com/questions/41799732/chromecast-button-not-visible-in-android-->
    <application
            android:name=".AcraApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:banner="@mipmap/ic_banner"
            android:label="@string/app_name"
            android:usesCleartextTraffic="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:fullBackupContent="@xml/backup_descriptor"
            android:appCategory="video"
            tools:targetApi="o">
        <meta-data
                android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
                android:value="com.lagradost.cloudstream3.utils.CastOptionsProvider" />

        <activity
                android:name=".ui.player.DownloadedPlayerActivity"
                android:screenOrientation="userLandscape"
                android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboard|keyboardHidden|navigation"
                android:resizeableActivity="true"
                android:supportsPictureInPicture="true"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:mimeType="video/*" />
            </intent-filter>

            <!-- I dont think this label can be translated, but idk -->
            <intent-filter android:label="@string/play_with_app_name">
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
        </activity>

        <activity
                android:exported="true"
                android:name=".MainActivity"
                android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboard|keyboardHidden|navigation"
                android:resizeableActivity="true"
                android:supportsPictureInPicture="true">
            <intent-filter android:exported="true">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

            <intent-filter android:exported="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="https" android:host="elifilms.net" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="www23.estrenosdoramas.net" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="pelisplus.icu" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="pelisplushd.net" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="pelismart.com" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="melomovie.com" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="doramasyt.com" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="cinecalidad.lol" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="cuevana3.me" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="entrepeliculasyseries.nu" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="pelisflix.li" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="seriesflix.video" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="ihavenotv.com" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="www.vmovee.watch" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="allmoviesforyou.net" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="membed.net" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="vf-film.me" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="vf-serie.org" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="french-stream.re" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="asianembed.io" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="asiaflix.app" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="eja.tv/" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="bflix.ru" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="fmovies.to" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="sflix.pro" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="filman.cc" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="sflix.to" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="dopebox.to" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="solarmovie.pe" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="pinoymoviepedia.ru" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="www.pinoy-hd.xyz" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="pinoymovies.es" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="trailers.to" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="2embed.org" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="dramasee.net" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="watchasian.cx" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="185.224.83.103" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="kdramahood.com" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="akwam.to" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="mycima.tv" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="cimanow.cc" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="www.egy.best" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="faselhd.io" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="secretlink.xyz" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="hdm.to" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="theflix.to" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="streamingcommunity.best" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="tantifilm.autos" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="cb01.rip" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="altadefinizione.tienda" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="filmpertutti.photo" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="hdmovie2.art" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="http://167.88.14.149" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="149.56.24.226" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="hdtoday.cc" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="openvids.io" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="94.103.82.88" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="146.19.24.137" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="v2.vidsrc.me" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="uakino.club" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="phimmoichill.net" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="rezka.ag" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="yomovies.plus" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="www.wcostream.com" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="gogoanime.sk" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="allanime.site" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="animekisa.in" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="animeflick.net" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="www3.animeflv.net" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="animefenix.com" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="animeflv.io" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="jkanime.net" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="tenshi.moe" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="wcostream.cc" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="animepahe.com" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="9anime.id" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="www.animeworld.tv" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="zoro.to" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="bestdubbedanime.com" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="monoschinos2.com" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="www.mundodonghua.com" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="kawaiifu.com" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="neonime.watch" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="kuramanime.com" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="65.108.132.145" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="185.231.223.76" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="75.119.159.228" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="45.12.2.2" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="otakudesu.watch" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="animeindo.sbs" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="111.90.143.42" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="tocanime.co" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="olgply.com" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="aniflix.pro" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="kimcartoon.li" android:pathPrefix="/"/>
                <data android:scheme="https" android:host="xcine.me" android:pathPrefix="/"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="cloudstreamapp" />
            </intent-filter>
        </activity>

        <receiver
                android:name=".receivers.VideoDownloadRestartReceiver"
                android:enabled="false"
                android:exported="true">
            <intent-filter android:exported="true">
                <action android:name="restart_service" />
            </intent-filter>
        </receiver>
        <service
                android:name=".services.VideoDownloadService"
                android:enabled="true"
                android:exported="false" />

        <activity
                android:exported="false"
                android:name=".ui.ControllerActivity" />

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:enabled="true"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>