name: Build CloudStream APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Grant execute permission
        run: chmod +x gradlew

      - name: Build Debug APK
        run: ./gradlew :app:assembleDebug

      - name: List APK
        run: |
          echo "APK OUTPUT:"
          find app/build/outputs -name "*.apk"

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: CloudStream-Debug-APK
          path: app/build/outputs/**/*.apk
    - name: Run Gradle
      run: ./gradlew assemblePrerelease
      env:
        SIGNING_KEY_ALIAS: "key0"
        SIGNING_KEY_PASSWORD: ${{ steps.fetch_keystore.outputs.key_pwd }}
        SIGNING_STORE_PASSWORD: ${{ steps.fetch_keystore.outputs.key_pwd }}
        SIMKL_CLIENT_ID: ${{ secrets.SIMKL_CLIENT_ID }}
        SIMKL_CLIENT_SECRET: ${{ secrets.SIMKL_CLIENT_SECRET }}

    - uses: actions/checkout@v6
      with:
        repository: "recloudstream/cloudstream-archive"
        token: ${{ steps.generate_archive_token.outputs.token }}
        path: "archive"

    - name: Move build
      run: cp app/build/outputs/apk/prerelease/release/*.apk "archive/$(git rev-parse --short HEAD).apk"

    - name: Push archive
      run: |
        cd $GITHUB_WORKSPACE/archive
        git config --local user.email "actions@github.com"
        git config --local user.name "GitHub Actions"
        git add .
        git commit --amend -m "Build $GITHUB_SHA" || exit 0   # do not error if nothing to commit
        git push --force
