name: Debug Build

on:
  push:
    paths-ignore:
      - '*.md'
  workflow_dispatch:
    paths-ignore:
      - '*.md'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Check if keystore secret exists
      id: check_secret
      env:
        KEYSTORE_SECRET: ${{ secrets.DEBUG_KEYSTORE_BASE64 }}
      run: |
        if [ -z "$KEYSTORE_SECRET" ]; then
          echo "exists=false" >> $GITHUB_OUTPUT
        else
          echo "exists=true" >> $GITHUB_OUTPUT
        fi

    - name: Generate debug keystore
      if: steps.check_secret.outputs.exists == 'false'
      run: |
        keytool -genkey -v \
          -keystore debug.keystore \
          -storepass android \
          -keypass android \
          -alias androiddebugkey \
          -keyalg RSA -keysize 2048 -validity 10000 \
          -dname "C=US, O=Android, CN=Android Debug"
        base64 debug.keystore > debug.keystore.base64
        echo "NO DEBUG KEY FOUND!!!"
        echo "Use this one as DEBUG_KEYSTORE_BASE64 in the repo Settings > Secrets and variables > Actions"
        cat debug.keystore.base64

    - name: Decode debug keystore AND Move it to expected location and name
      if: steps.check_secret.outputs.exists == 'true'
      run: |
        mkdir -p ~/work/_temp/keystore/
        echo "${{ secrets.DEBUG_KEYSTORE_BASE64 }}" | base64 -d > ~/work/_temp/keystore/prerelease.keystore

    - name: Setup signing env vars
      if: steps.check_secret.outputs.exists == 'true'
      run: |
        echo "SIGNING_STORE_PASSWORD=android" >> $GITHUB_ENV
        echo "SIGNING_KEY_PASSWORD=android" >> $GITHUB_ENV  
        echo "SIGNING_KEY_ALIAS=androiddebugkey" >> $GITHUB_ENV

    - name: Force debug signingConfig
      if: steps.check_secret.outputs.exists == 'true'
      run: |
        sed -i 's/debug {/debug {\n                signingConfig = signingConfigs.getByName("prerelease")\n                /' app/build.gradle.kts

    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: 17

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
      with:
        cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
        cache-read-only: false

    - name: Run Gradle
      run: ./gradlew assemblePrereleaseDebug

    - name: Upload Artifact
      uses: actions/upload-artifact@v6
      with:
        name: debug-build
        path: "app/build/outputs/apk/prerelease/debug/*.apk"
